@model ITBookStore.Models.ITProductsModel



@{
    ViewBag.Title = "La Boutique";
}

<br /><br /><br />
<h2>La Boutique <b>EShop</b></h2>
<br /><hr />

@using (Html.BeginForm("Index", "Shop", FormMethod.Post, new { id = "ShopForm" }))
{
    @Html.HiddenFor(x => x.Pagination.CurrentPage);
    @Html.HiddenFor(x => x.Pagination.ItemsPerPage);
    @Html.HiddenFor(x => x.Pagination.TotalItems);

    <div style="width: 300px;">
        Category:
        <span>
             @Html.DropDownListFor(x => x.CategoryID, Model.Categories(), "--Select a Category--",
             new
             {
                 onchange = "document.getElementById('ShopForm').submit();",
                 @class = "form-control"
             })
        </span>
        <br /><br />
        <span class="pull-right">
            Search For :
            @Html.TextBoxFor(x => x.SearchString)
            <input type="submit" value="Search" />
        </span>

    </div>

    <br /><br /><br />
    <hr />
    <br />
foreach (var item in Model.ITProductList)
{
    <div class="row panel">
        <div class="col-xs-4">

            <img src="@item.Image" width="230" height="330" alt="@item.ProductName" title="@item.ProductName">
        </div>
        <div class="well col-xs-8">
            <h3>
                @Html.DisplayFor(modelItem => item.ProductName)
            </h3>
            <p>
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p class="pull-right label label-primary">
                $@Html.DisplayFor(modelItem => item.Price)
            </p>
            <p>
                @Html.ActionLink("Plus d'infos", "Index", "ItemDetail", new { id = item.ProductID }, new { id = "ProductID" })
            </p>
        </div>
    </div>
    <hr />
}



@* using ITBookStore.HtmlHelpers  *@

<div class="pager btn-group pull-right">
    @Html.PageLinks(Model.Pagination, x => Url.Action("Index", new { page = x, categoryID = Model.CategoryID }))
</div>

   
}

