@model ITBookStore.Models.ITProduct
@{
    ViewBag.Title = "Détail d'un eBook";
}

<br /><br /><br />
<h2>La Boutique <b>EShop</b></h2>
<br /><hr />

<div style="display:inline-block">
    <div style="width:300px; float:left;">
        <img src="@Model.Image" width="250" height="330" alt="@Model.ProductName" title="@Model.ProductName">
    </div>
    <div style="width:70%; float:left;">
        <h1>
            @Html.DisplayFor(modelItem => Model.ProductName)
        </h1>
        <p>
            @Html.DisplayFor(modelItem => Model.Details)
        </p>
        <p class="label label-primary" style="font-size:12pt">
            $@Html.DisplayFor(modelItem => Model.Price)
        </p>
        <br /><br /><br />

        @using (Html.BeginForm("AddToCart", "ShoppingCart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to cart" />
            </div>
        }
        <br /><br /><br />

        <p>
            @Html.ActionLink("Back to the Shop", "Index", "Shop", new { page = 1 }, new { categoryID = 0 })
        </p>

    </div>
</div>

