<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ITBookStore</title>
    <link href="~/Content/Menu-Bar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta name="eBook" content="Vente de ebooks" />
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <h1 id="header" class="navbar-text h1">ITBookStore</h1>
    </div>

    <div id="main" class="row panel">
        <div class="col-xs-2 well">
            <!-- <h2>Menu</h2>-->
            <ul>
                <li class="btn btn-block btn-default btn-lg">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="btn btn-block btn-default btn-lg">@Html.ActionLink("Boutique", "Index", "Shop")</li>
                <li class="btn btn-block btn-default btn-lg">@Html.ActionLink("Panier d'achat", "Index", "Cart")</li>
                <li class="btn btn-block btn-default btn-lg">@Html.ActionLink("Connexion", "Index", "Login")</li>
                <li class="btn btn-block btn-default btn-lg">@Html.ActionLink("Enregistrez-vous", "Index", "Register")</li>
            </ul>
        </div>

        <div class="col-xs-9">
            @RenderBody()
        </div>
    </div>

            <footer>
                <p>&copy; @DateTime.Now.Year - ITBookStore Application</p>
            </footer>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>